<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/dashboard.css">
<link rel="stylesheet" href="css/table.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  
    <main class="dashboard">

      <h1 class="customer_name"><%= entries[0].customer_name %></h1>
      <% if(startDate != null && endDate !== null) { %>
      <h6 class="customer_date"><%= startDate %> to <%= endDate %></h6>
      <% } %>
      <% if(!(entries[0].product === undefined)) { %>
      <% let totalAmount = 0; %>
      <table class="content-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Product</th>
            <th>Rate</th>
            <th>Quantity</th>
            <th>Slip</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% for (entry of entries) { %>
            <tr>
              <td><%= entry.date.toISOString().substring(0, 10) %></td>
              <td><%= entry.product %></td>
              <td><%= entry.rate %></td>
              <td><%= entry.quantity %></td>
              <td><%= entry.slip %></td>
              <td><%= entry.amount > 0 ? entry.amount : -1 * (entry.amount) %></td>
              <% totalAmount = totalAmount + entry.amount %>
            </tr>
          <% } %>
        </tbody>
      </table>
      <h3 class="customer_name">Total Amount: <%= totalAmount %></h3>
      <% } else { %>
        <h3 class="customer_name">No Record for the given Period</h3>
      <% } %>
  </main>

<%- include('../includes/end.ejs') %>