<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="css/newEntry.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  
  <main class="new-entry">
    <section>
      <h3>Payment</h3>
      <form action="/payment" method="POST">
        <div class="single_entry">
          <label for="date">Date</label>
          <input type="date" name="date">
        </div>
        <div class="single_entry">
          <label for="customer">Customer</label>
          <select name="customer" id="customers">
            <% for(customer of customers) { %>
            <option value="<%= customer._id %>"><%= customer.customer_name %></option>
            <% } %>
          </select>
          <input type="hidden" value="<%= customers[0].customer_name %>" name="customerName" id="customerDocument">
        </div>
        <div class="single_entry">
          <label for="amount">Amount</label>
          <input type="text" name="amount" step="0.01" id="amount" required>
        </div>
        <div class="single_entry">
          <button>Submit</button>
        </div>
      </form>
    </section>
  </main>

  <script src="scripts/payment.js"></script>

<%- include('../includes/end.ejs') %>